<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:unless="${product.id}">Cadastro de Produto</title>
    <title th:if="${product.id}">Edição de Produto</title>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/products}">Página Inicial</a>
      </div>
    </nav>

    <main class="container">
      <h1 th:unless="${product.id}" class="mt-4 mb-5">
        Novo Produto
      </h1>
      <h1 th:if="${product.id}" class="mt-4 mb-5">
        Editar Produto
      </h1>

      <form method="POST" th:object="${product}">
        <input type="hidden" th:field="${product.id}" />
        <div class="mb-3">
          <label for="name" class="form-label">Nome:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            th:field="*{name}"
          />
          <ul>
            <li
              th:each="error : ${#fields.errors('name')}"
              th:text="${error}"
              class="text-danger"
            ></li>
          </ul>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label"
            >Descrição:</label
          >
          <input
            type="text"
            class="form-control"
            id="description"
            th:field="*{description}"
          />
          <ul>
            <li
              th:each="error : ${#fields.errors('description')}"
              th:text="${error}"
              class="text-danger"
            ></li>
          </ul>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Preço:</label>
          <input
            type="number"
            class="form-control"
            id="price"
            th:field="*{price}"
          />
          <ul>
            <li
              th:each="error : ${#fields.errors('price')}"
              th:text="${error}"
              class="text-danger"
            ></li>
          </ul>
        </div>
        <div class="mb-3">
          <label for="quantityStock" class="form-label">Quantidade:</label>
          <input
            type="number"
            class="form-control"
            id="quantityStock"
            th:field="*{quantityStock}"
          />
          <ul>
            <li
              th:each="error : ${#fields.errors('quantityStock')}"
              th:text="${error}"
              class="text-danger"
            ></li>
          </ul>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </main>

  </body>
</html>